*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}


#tv-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
}

#tv-item img{
    width: 25%;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 10px;
}

#tv-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 7px;
    padding: 20px;
    margin-top: 100px;
    border: 1px solid yellow; 
}


@media (max-width: 1100px) {
    #tv-item{
        display: flex;
        flex-direction: column; 
    }

    #tv-item img{
        width: 50%;
    }
    
}

@media (max-width: 768px) {
    #tv-item img{
        width: 50%;
    }
    #tv-info{
        margin-top: 20px;
    }
    
}

@media (max-width: 500px) {
    #tv-item img{
        width: 100%;
    }

    #tv-item h2{
        font-size: 1.5rem;
    }

    #tv-info{
        margin-top: 20px;
    }

    p{
        font-size: 0.8rem;
    }

    #actor img {
        width: auto;
    }

    
    
}



#tv-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#tv-info h2{
    margin-top: 50px;
}


#tv-info p{
    margin-top: 50px;
    margin: 0.5rem;
}

#tv-cast {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#actor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#actor img {
    width: 70%;
    object-fit: cover;
    border-radius: 10px;
}

#actor p {
    text-align: center;
    margin-top: 10px;
}


/* Style pour la section des résultats de recherche */
#search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

/* Style pour chaque carte de résultat de recherche */
#search-results .card {
    background-color: #29292985;
    border: 1px solid black; /* Bordure jaune */
    border-radius: 10px;
    position: relative;
}

/* Effet de survol sur chaque carte de résultat de recherche */
#search-results .card:hover {
    box-shadow: 0 0 30px yellow;
    transform: scale(1.1);
    transition: transform 0.5s;
    filter: brightness(0.5);
}

/* Style pour le titre à l'intérieur de chaque carte */
#search-results .card h2 {
    font-size: 16px;
    margin: 0;
    align-self: flex-start;
    justify-self: flex-start;
    position: absolute;
    top: 0px;
    left: 5px;
    color: whitesmoke;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

/* Style pour l'image dans chaque carte de résultat */
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* Effet de survol sur l'image */
#search-results img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    filter: brightness(0.5);
}

.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle:not(:focus) {
    outline: 0;
  }
  

  .navbar-nav{
    width: 100%;
}

@media(min-width:568px){
    .end{
        margin-left: auto;
    }
}

@media(max-width:768px){
    #post{
        width: 100%;
    }
}
#clicked{
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px; 
}

#profile{
    background-color: unset;
    
} 

#post{
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%;
}

#nav-items li a,#profile{
    text-decoration: none;
    color: rgb(187, 14, 14);
    background-color: rgb(145, 92, 92);
}


#comment-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .comment {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #000000;
    border: 1px solid #e5ff00;
    border-radius: 5px;
  }
  
  .comment h4 {
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .comment p {
    font-size: 16px;
  }
  
  #comment-container,
  #comment-form {
      border: 1px solid yellow; 
      border-radius: 10px; 
      padding: 15px;
  }
  
.main-bg {
    background: black;
    min-height: 100vh;
}

.main-bg {
    padding: 10px;
}

img.logo {
    border-radius: 50%;
}

/* Largeur et hauteur de la barre de défilement */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
    height: 12px; /* Hauteur de la barre de défilement */
  }
  
  /* Fond de la barre de défilement */
  ::-webkit-scrollbar-track {
    background-color: black; /* Couleur de fond de la barre de défilement */
 }
  
  /* Barre de défilement elle-même */
  ::-webkit-scrollbar-thumb {
    background-color: yellow; /* Couleur de la barre de défilement */
  }
  
  .favorite-icon {
    color: red;
}

.favorited .bi-heart {
    color: yellow;
}

/* police Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}


h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700; 
    font-size: 2rem; 
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400; 
    font-size: 1rem; 
}

#search-results h2 {
    font-family: 'Quicksand', sans-serif;
}

#search-results p {
    font-family: 'Quicksand', sans-serif;
}

/* Header soulignement */
.nav-link:hover,
.nav-link.active {
    border-bottom: 2px solid #FFC107;
}