.card {
    background-color: black; /* Modifier la couleur de fond */
    border: none; /* Supprimer les bordures */
    margin-bottom: 20px; /* Ajouter un espacement en bas */
}

.card-title {
    color: yellow; /* Modifier la couleur du titre */
}

.card-text {
    color: white; /* Modifier la couleur du texte */
}

.card-link {
    text-decoration: none; /* Supprimer les soulignements des liens */
}

/* CSS */
.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

/* Style pour l'icône de favoris */
.favorite-icon {
color: red;
}

/* Style pour l'icône de favoris lorsqu'elle est déjà dans les favoris */
.favorite-icon.favorited {
    color: yellow; /* Changer la couleur de l'icône lorsqu'elle est déjà dans les favoris */
}

/* police Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}


h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700; 
    font-size: 2rem; 
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400; 
    font-size: 1rem; 
}

#search-results h2 {
    font-family: 'Quicksand', sans-serif;
}

#search-results p {
    font-family: 'Quicksand', sans-serif;
}

/* Header soulignement */
.nav-link:hover,
.nav-link.active {
    border-bottom: 2px solid #FFC107;
}