/* police Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}


h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700; 
    font-size: 2rem; 
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400; 
    font-size: 1rem; 
}

#search-results h2 {
    font-family: 'Quicksand', sans-serif;
}

#search-results p {
    font-family: 'Quicksand', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

#tv-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

li{
    list-style: none;
    margin-bottom: 1rem;
}

#tv-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tv-card img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#tv-card:hover img{
    box-shadow: 0 0 30px yellow;
    transform: scale(1.1);
    transition: transform 0.5s;
    filter: brightness(0.5);
}

/* Style pour la section des résultats de recherche */
#search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

/* Style pour chaque carte de résultat de recherche */
#search-results .card {
    background-color: #29292985;
    border: 1px solid black; /* Bordure jaune */
    border-radius: 10px;
    position: relative;
}

/* Effet de survol sur chaque carte de résultat de recherche */
#search-results .card:hover {
    box-shadow: 0 0 30px yellow;
    transform: scale(1.1);
    transition: transform 0.5s;
    filter: brightness(0.5);
}

/* Style pour le titre à l'intérieur de chaque carte */
#search-results .card h2 {
    font-size: 16px;
    margin: 0;
    align-self: flex-start;
    justify-self: flex-start;
    position: absolute;
    top: 0px;
    left: 5px;
    color: whitesmoke;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

/* Style pour l'image dans chaque carte de résultat */
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* Effet de survol sur l'image */
#search-results img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    filter: brightness(0.5);
}

.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle:not(:focus) {
    outline: 0;
  }
  
.main-bg {
    background: black;
    min-height: 100vh;
    padding: 10px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

img.logo {
    border-radius: 50%;
}

/* Largeur et hauteur de la barre de défilement */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
    height: 12px; /* Hauteur de la barre de défilement */
  }
  
  /* Fond de la barre de défilement */
  ::-webkit-scrollbar-track {
    background-color: black; /* Couleur de fond de la barre de défilement */
 }
  
  /* Barre de défilement elle-même */
  ::-webkit-scrollbar-thumb {
    background-color: yellow; /* Couleur de la barre de défilement */
  }
  
/* Style pour l'icône de favoris */
.favorite-icon {
    color: red;
    }
    
    /* Style pour l'icône de favoris lorsqu'elle est déjà dans les favoris */
    .favorite-icon.favorited {
        color: yellow; /* Changer la couleur de l'icône lorsqu'elle est déjà dans les favoris */
    }
    

.card-img-top {
    transition: transform 0.3s ease; 
}

.card-img-top:hover {
    transform: scale(1.1); 
}

/* Header soulignement */
.nav-link:hover,
.nav-link.active {
    border-bottom: 2px solid #FFC107;
}